@font-face {
  font-family: 'Effra';
     src: url('../../fonts/effra/Effra_Std_Rgn.eot');
     src: url('../../fonts/effra/Effra_Std_Rgn.woff') format('woff'),
          url('../../fonts/effra/Effra_Std_Rgn.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  font-family: 'Effra';
  src: url('../../fonts/effra/Effra_Std_Bdn.eot');
  src: url('../../fonts/effra/Effra_Std_Bdn.woff') format('woff'),
       url('../../fonts/effra/Effra_Std_Bdn.ttf') format('truetype');;
  font-weight: 700;
  font-style: normal;
}