.card-detail {
  position: fixed;
}

.credit-card {
  position: relative;
  width: 280px;
  height: 168px;
  border-radius: 6px;
  background-color: #1b15a9;
  padding: 8px 16px;

  .row {
    margin: 0;
  }

  .debit {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.9px;
    text-align: left;
    color: #cdd3da;
  }

  .logo {
    display: inline-block;
    float: right;
  }

  .credit-card__center {
    margin-top: 55px;
    .number {
      color: white;
      text-align: center;
      font-size: 16px;
      span {
        margin: 0 6px;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: 0px;
        text-align: left;
        color: #ffffff;
      }
    }
  }

  .outdated {
    .outdated-content {
      position: relative;
      display: flex;
      align-items: center;
      left: 134px;
    }
    .label {
      font-size: 8px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0;
      letter-spacing: 0.72px;
      text-align: left;
      color: #cdd3da;

      br {
        height: 3px;
      }
    }
  }

  .credit-card__bottom {
    .name {
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    .logo {
      display: inline-block;
      float: right;
    }
  }
}

.credit-card-detail {
  table {
    width: 280px;
    margin: 30px 0;
    color: #8e9eac;
    td {
      padding: 9px 0;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: 0px;
      text-align: left;
      color: #8e9eac;

      &.text-right {
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 0px;
        text-align: left;
        color: rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
}


.credit-card-status {
  .label {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0px;
    text-align: left;
    color: #1b15a9;
  }

  table {
    width: 280px;
    margin: 30px 0;
    color: #8e9eac;

    td {
      padding: 12px 0;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: 0px;
      text-align: left;
      color: #8e9eac;
      border-top: solid 1px #dee3e9;

      &.td-label {
        border: none;
      }

      &.text-right {
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: 0px;
        text-align: left;
        color: #000000;
      }
    }
  }
}

.button-container {
  width: 280px;
  margin: 0 0;
  .btn {
    color: white;
    background-color: #4f6cff
  }
}