.form-muc-tieu {
  .label {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0px;
    text-align: left;
    color: #152577;
  }

  label {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
  }

  button {
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.1);
    background-color: #009fe3;
    color: white;
    margin-top: 27px;

    &:disabled {
      background-color: #009fe3;
      color: white;
    }
  }
}