.card-hoat-dong-chi-tieu {
  .label {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0px;
    text-align: left;
    color: #152577;
  }

  .d-inline-block {
    display: inline-block;
    margin-right: 16px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    .color-yellow {
      display: inline-block;
      width: 17px;
      height: 12px;
      background-color: #cfdb00;
      margin-right: 5px;
    }

    .color-green {
      display: inline-block;
      width: 17px;
      height: 12px;
      background-color: #d0db00;
      margin-right: 5px;
    }

    .color-blue {
      display: inline-block;
      width: 17px;
      height: 12px;
      background-color: #009fe3;
      margin-right: 5px;
    }

    .color-blue-1 {
      background-color: #2e26d9;
      display: inline-block;
      width: 17px;
      height: 12px;
      margin-right: 5px;
    }
  }

  

  .form-group, .tab-menu {
    display: inline-block;
    margin-bottom: 0;
  }

  input.form-control {
    padding: 0;
  }

  .tab-menu {
    margin-left: 15px;
    .menu {
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
      color: #707070;

      &.active {
        color: #1b15a9;
      }
    }
  }

  .link-detail {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0px;
    text-align: left;
    color: #009fe3;
  }

  .tu-van-thang {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 40px;

    .heading {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #8e9eac;
    }

    .column {
      width: 25%;
      border-right: solid 1px #dee3e9;
    }

    .row, .col-lg-3, .col-lg-4, .col-lg-12 {
      padding: 0;
      margin: 0;
    }
  }
}

.san-pham-goi-y {
  flex-wrap: wrap;

  .label {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0px;
    text-align: left;
    color: #152577;
  }

  .sanpham {
    display: flex;
    width: 45%;
    border-radius: 12px;
    background-color: #ffffff;
    margin: 16px 16px 16px 0;
    padding: 5px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 5px 15px 0 rgba(195, 206, 227, 0.3);
    }
    .sanpham-image {
      width: 64px;
      height: 64px;
      background-size: cover;
      border-radius: 8px;
    }

    .sanpham-detail {
      margin-left: 10px;
      width: calc(100% - 70px);
      .heading {
        margin-bottom: 8px;
      }

      .description {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.42;
        letter-spacing: 0px;
        text-align: left;
        color: #6a6464;
      }
    }
  }
}