.card-muc-tieu-cua-ban {
  .label {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0px;
    text-align: left;
    color: #152577;
  }

  .muctieu-item {
    width: 45%;
    border-radius: 12px;
    background-color: #ffffff;
    margin: 16px 26px 16px 0;
    padding: 5px;
    &:hover {
      box-shadow: 0 5px 15px 0 rgba(195, 206, 227, 0.3);
    }
  }

  .muctieu {
    display: flex;
    cursor: pointer;

    .muctieu-image {
      width: 72px;
      height: 72px;
      background-size: cover;
      border-radius: 8px;
    }

    .muctieu-detail {
      margin-left: 10px;
      width: calc(100% - 70px);
      .heading {
        margin-bottom: 8px;
      }

      .description, .money-time {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.42;
        letter-spacing: 0px;
        text-align: left;
        color: #6a6464;
        margin-bottom: 8px;
      }

      .money-time {
        display: flex;
        span {
          margin-left: 20px;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.36;
          letter-spacing: 0px;
          text-align: left;
          color: #6a6464;
        }
      }
    }
  }
  .muctieu-progress {
    display: flex;
    .percentage {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.42;
      letter-spacing: 0px;
      text-align: left;
      color: #6a6464;
    }
    .progress-container {
      display: flex;
      margin-left: 10px;
      align-items: center;
      width: calc(100% - 30px);

      .progress {
        width: 100%;
        margin: 0;
        height: 4px;
      }

      .progress-bar {
        background-color: #009fe3;
      }
    }
  }
}