@font-face {
  font-family: 'Effra';
     src: url('../fonts/effra/Effra_Std_Rgn.eot');
     src: url('../fonts/effra/Effra_Std_Rgn.woff') format('woff'),
          url('../fonts/effra/Effra_Std_Rgn.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  font-family: 'Effra';
  src: url('../fonts/effra/Effra_Std_Bdn.eot');
  src: url('../fonts/effra/Effra_Std_Bdn.woff') format('woff'),
       url('../fonts/effra/Effra_Std_Bdn.ttf') format('truetype');;
  font-weight: bolder;
  font-style: normal;
}

// Bootstrap functions
@import 'bootstrap/functions';
@import "bootstrap/mixins";

// functions
@import "custom/functions";
@import "custom/variables";
@import "bootstrap/variables";

// mixins
@import "custom/mixins";

// Bootstrap components
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

// components
@import 'custom/components';
@import 'custom/utilities';
@import 'custom/vendors';

//view-employees
@import 'views/Employee/view-contract';
@import 'views/Employee/view-blacklist';
@import 'views/Employee//view-workingtime';

// React differences
@import 'react/react-differences';
