//
// Table
//


// General styles

.table {
  border: 1px solid #ccc;
    thead th {
        padding-top: $table-head-spacer-y;
        padding-bottom: $table-head-spacer-y;
        font-size: 14px;
        text-transform: $table-head-text-transform;
        letter-spacing: $table-head-letter-spacing;
        border-bottom: $table-border-width solid $table-border-color;
    }

    th {
        font-weight: $table-head-font-weight;
    }

    td {
        .progress {
            height: 3px;
            width: 120px;
            margin: 0;
        }
    }

    td,
    th {
        font-size: 14px;
        white-space: nowrap;
        height: 60px;
    }


    // Vetical align table content

    &.align-items-center {
        td,
        th {
            vertical-align: middle;
        }
    }


   // Styles for dark table

   .thead-dark {
        th {
            background-color: $table-dark-head-bg;
            color: $table-dark-head-color;

            a {
                color: $table-dark-head-color;
            }
        }
    }


    // Styles for light table

    .thead-light {
        th {
            background-color: #F6F9FC;
            color: #8797AA;

            a {
                color: black;
            }
        }
    }
}

.table-collapse {
  thead {
    th {
      background-color: #E8E8E8;
      color: black;
      font-size: 0.85rem;
      a {
          color: black;
      }
    }
  }

  .collapse-container {
    &.hide {
      .tr-collapse-content {
        display: none;
      }
    }
  }

  .tr-collapse-header {
    background-color: $table-head-bg;
    color: black;
    cursor: pointer;
    a {
        color: black;
    }
    th {
      i {
        float: right;
      }
    }
    &:hover {
      background-color: #D2DCE6;
    }
  }
}


// Add transition for hover state

.table-hover {
    tr {
        @include transition($transition-base);
    }
}


// Flush tables

.table-flush {
    td,
    th {
        border-left: 0;
        border-right: 0;
    }

    tbody {
        tr {
            &:first-child {
                td,
                th {
                    border-top: 0;
                }
            }

            &:last-child {
                td,
                th {
                    border-bottom: 0;
                }
            }
        }
    }
}

.table-sidelist {
  border: none;
  th, td {
    border: none;
  }

  tr {
    cursor: pointer;
    &:hover {
      background-color: rgba($color: #FFB822, $alpha: 0.2);
    }
    &.selected {
      background-color: rgba($color: #FFB822, $alpha: 0.2);
      font-weight: bold
    }
  }
}

.table-content {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  td {
    padding: 10px;
    &.label {
      width: 200px;
    }
    &.value {
      font-weight: bold;
    }
  }
}

.table-fixed {
  thead {
    th {
      background-color: #E8E8E8;
    }
  }
  tr {
    &:hover {
      background-color: #8CC6EC;
    }
  }
}


// Tables inside cards

.card {
    .table {
        margin-bottom: 0;

        td,
        th {
            padding-left: $card-spacer-x;
            padding-right: $card-spacer-x;
        }
    }
}


// Fixes for custom elements inside tables

.table {
    .custom-toggle {
        display: block;
    }
}

.scroll-container {
  overflow: scroll;
  max-height: 482px;
}

.department-table {
  th {
    background-color:rgba($color: #E8E8E8, $alpha: 0.2);
    font-weight: bold;
  }
  td, th {
    padding: 20px 25px !important;

    img {
      cursor: pointer;
      float: right;
    }
  }
  .tbody-scroll {
    max-height: 481px;
    overflow: scroll;
    tbody {
      width: 100%;
    }
    td {
      width: 100%
    }
  }
}