//
// Modal
//


.modal-title {
    font-size: $modal-title-font-size;
}


// Fluid modal

.modal-fluid {
    .modal-dialog {
        margin-top: 0;
        margin-bottom: 0;
    }

    .modal-content {
        border-radius: 0;
    }
}

.modal-form {
  .label {
    color: #8898AA;
    margin-bottom: 20px;
  }
  .modal-header {
    background-color: #F7FAFC;
  }
  @media (min-width: 576px) {
    max-width: 1000px;
  }
  .modal-seperate {
    border-top: 1px solid #ccc;
    margin: 10px 0;
    margin-bottom: 40px;
  }
}


// Background color variations

@each $color, $value in $theme-colors {
    .modal-#{$color} {
        @include modal-variant($value);
    }
}


.modal-tuvan {
  

  .modal-content {
    width: 700px;
  }

  .btn-close {
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 99999999;
  }

  label {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #6a6464;
  }

  .form-control {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  .tuvan-success {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #16b201;
  }
  
  .tuvan-danger {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #ff0000;
  }
}