.navbar-admin__second {
  background-color: #151A61;
  padding: 0 1rem;
  .nav-link {
    color: white;
    padding-bottom: 17px;
    padding-top: 17px;
    &:hover {
      color: #FF9022;
    }
    &.active {
      border-bottom: 3px solid #FF9022;
    }
  }
}